@model List<Producto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos/style.css">
    <title>Zapatillas Niños</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="#">J&R</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">LO NUEVO <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          HOMBRE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Zapatillas</a>
                          <a class="dropdown-item" href="#">Ropa</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Accesorios</a>
                        </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      MUJER
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Zapatillas</a>
                      <a class="dropdown-item" href="#">Ropa</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Accesorios</a>
                    </div>
                  </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NIÑOS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="~/home/dezapatilla">Zapatillas</a>
                <a class="dropdown-item" href="#">Ropa</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Accesarios</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      MARCAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Zapatillas</a>
                      <a class="dropdown-item" href="#">Ropa</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Accesorios</a>
                    </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      DEPORTES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Zapatillas</a>
                      <a class="dropdown-item" href="#">Ropa</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Accesorios</a>
                    </div>
                  </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" id="logeo">
            <a class="nav-link" href="">Iniciar Sesión</a>
            <a class="nav-link" href="">(0 Productos)</a>
            <input class="form-control mr-sm-2" type="search" placeholder="Búsqueda">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
</nav>
<h3><b>NIÑOS</b></h3>
<section id="zapniños">
    <div class="row">
        <div class="col-md-3 topmargin-sm" style="padding-left: 100px; padding-top: 20px;">
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">MARCAS</li>
                    <li class="list-group-item">Nike</li>
                    <li class="list-group-item">Adidas</li>
                </ul>
            </div>
        </div>
        <div class="col md-9 topmargin-sm">
            <section id="niños-zap" class="bg-light-grey">
                <div class="container">
                  <div class="row">
                    @foreach (var c in Model){
                          <div class="col-md-4">
                            <div class="niños-zap-container">
                            <img src="@c.Foto" alt="" class="img-fluid">
                            <div class="niños-zap-desc">
                            <h4> @c.Nombre </h4>
                            <h4> @c.Descripcion </h4>
                            <h4> @c.Precio </h4>
                            </div>
                            </div>
                          </div>
                    }      
                </div>  
              </div>
            </section>
        </div>
    </div>
</section>
<nav aria-label="Page navigation example" id="pag">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>
</body>
</html>